.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.s-1{
  font-size: 40px;
}
.s-2{
  font-size: 32px;
}
.s-3{
  font-size: 28px;
}
.s-4{
  font-size: 24px;
}
.s-5{
  font-size: 20px;
}
.s-6{
  font-size: 16px;
}

.bg-green {
  background-color: seagreen;
}
.bg-blue {
  background-color: royalblue;
}
.bg-orange {
  background-color: orange;
}
.bg-brown {
  background-color: saddlebrown;
}
.bg-white2 {
  background-color: whitesmoke;
}
.bg-purple {
  background-color: indigo;
}
.bg-pink {
  background-color: hotpink;
}
.bg-silver {
  background-color: silver;
}
.bg-gold {
  background-color: gold;
}

.font-orelega {
  font-family: 'Orelega One', cursive;
}
.pointer {
  cursor: pointer;
}

.border-2 {
  border-width: 2px !important
}
.card-img-top {
  width: 100%;
  height: 400px;
}
.card-img-top:hover {
  filter: brightness(90%);
}
.card:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}
.card-movie {
  height: 248px;
}
.bg-white2:hover {
  background-color: rgb(233, 232, 231);
  box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.3);
}

.bg-seat {
  background-color: whitesmoke;
}
.bg-seat:not(.nohover):hover {
  background-color: lightgray;
}
.seat-text {
  font-family: monospace;
}