.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.s-1{
  font-size: 40px;
}
.s-2{
  font-size: 32px;
}
.s-3{
  font-size: 28px;
}
.s-4{
  font-size: 24px;
}
.s-5{
  font-size: 20px;
}
.s-6{
  font-size: 16px;
}

.bg-green {
  background-color: seagreen;
}
.bg-blue {
  background-color: royalblue;
}
.bg-orange {
  background-color: orange;
}
.bg-brown {
  background-color: saddlebrown;
}
.bg-white2 {
  background-color: whitesmoke;
}
.bg-purple {
  background-color: indigo;
}
.bg-pink {
  background-color: hotpink;
}
.bg-silver {
  background-color: silver;
}
.bg-gold {
  background-color: gold;
}

.font-header {
  font-family: "Comic Sans MS", cursive;
}
.seat {
  width: 30px;
  height: 30px;
  cursor: pointer;
}